{{> start }}

<div style="max-width:50em">

  <h1><a id="Dfi_IA_JDIS_2017_0"></a>Défi IA JDIS 2017</h1>
  <p>Pour la troisième année consécutive, nous avons le bonheur de vous inviter au Défi IA JDIS 2017.</p>
  <h3><a id="Participation_5"></a>Participation</h3>
  <h4><a id="Nombre_de_participants_6"></a>Nombre de participants</h4>
  <p>Nous avons l’opportunité d’inviter jusqu’à 15 équipes de deux participants.</p>
  <h4><a id="Je_suis_seul_9"></a>Je suis seul</h4>
  <p>Pas de problème! Le jour de l’événement, nous allons tenter de former des équipes avec les participants seuls.
    <br> Si vous préférez participer seul, encore une fois, il n’y a aucun problème!</p>
  <h4><a id="Je_ntudie_pas__lUniversit_de_Sherbrooke_13"></a>Je n’étudie pas à l’Université de Sherbrooke</h4>
  <p>Nous sommes heureux que vous ayez entendu parler du défi IA JDIS! Vous êtes les bienvenus. Assurez-vous simplement d’être en équipe avec un étudiant de l’Université de Sherbrooke.</p>
  <h4><a id="Quand_16"></a>Quand?</h4>
  <p>La compétition aura lieu le samedi 29 juillet 2017 de 9h à 17h30. Par la suite, nous allons sûrement aller prendre une bière au Refuge question de décompresser un peu.</p>
  <h4><a id="O_20"></a>Où</h4>
  <p>À la Faculté de génie de l’Université de Sherbrooke, au local C1-5028.</p>
  <h4><a id="Food_23"></a>Food</h4>
  <p>Nous allons fournir de la pizza pour dîner.</p>
  <h4><a id="_26"></a>$$$</h4>
  <p>L’événement est gratuit pour tous les participants.</p>
  <h4><a id="Prix_29"></a>Prix</h4>
  <p>Nous ferons tirer des prix de présence au courant de la journée, dont certains gracieusement offerts par notre commanditaire Beenox. Bien sûr, les gagnants du défi mériteront chacun un Raspberry Pi Zero W.</p>
  <h3><a id="Questions_techniques_32"></a>Questions techniques</h3>
  <h4><a id="Doisje_amener_mon_ordinateur_portable_33"></a>Dois-je amener mon ordinateur portable?</h4>
  <p>On vous recommande d’amener votre ordinateur portable, mais ce n’est pas obligatoire. Or, les participants qui ne sont <em>pas</em> étudiants à l’Université de Sherbrooke devront obligatoirement utiliser les ordinateurs déjà sur place pour des raisons d’accès au réseau.</p>
  <h4><a id="Aije_besoin_dune_carte_graphique__1000_pour_gagner_36"></a>Ai-je besoin d’une carte graphique à 1000$ pour gagner?</h4>
  <p>Non. Le code de votre intelligence artificielle sera exécuté sur le serveur de compétition lors des parties.</p>
  <h4><a id="Quel_est_le_jeu_39"></a>Quel est le jeu?</h4>
  <p>Le jeu sera divulgué la journée même.</p>
  <h4><a id="Langages_42"></a>Langages</h4>
  <p>Les langages permis sont les suivants :</p>
  <ul>
    <li>Python</li>
    <li>Javascript via Node.js</li>
    <li>C#</li>
    <li>C++</li>
  </ul>
  <p>Nous vous fournirons les outils nécessaires pour chacun des langages.</p>
  <h4><a id="Droulement_52"></a>Déroulement</h4>
  <p>La journée sera séparée en plusieurs <em>rounds</em>. Durant chacun de ces <em>rounds</em>, vous aurez l’opportunité de récolter des points. À la fin de la journée, nous cumulerons ces points et couronnerons les gagnants.</p>
  <h4><a id="Limites_56"></a>Limites</h4>
  <p>Faites preuve de gros bon sens! Nous vous demandons de ne pas copier les intelligences artificielles déjà existantes pour ce jeu. Si une équipe semble réussir un peu trop bien, nous évaluerons le code pour vérifier qu’il est authentique et non copié depuis Internet. Toute équipe prise à plagier sera éliminée/disqualifiée automatiquement.</p>
  <h1><a id="Sponsors_59"></a>Sponsors</h1>
  <p>Merci à notre commanditaire <a href="http://beenox.com/">Beenox</a> de nous offrir des prix de présence!</p>

</div>

{{> end }}
