{{> start }}

<div style="max-width:50em">

  <h1>FAQ</h1>

  <h4>Quel est le jeu utilisé cette année?</h4>
  <p>
    Nous utilisons la plateforme <a target="_blank" href="https://halite.io/">Halite.io</a>.
    Servez-vous du <a target="_blank" href="https://halite.io/basics_intro_halite.php">manuel de référence de la plateforme Halite</a> pour plus d'informations, et n'hésitez pas à poser des questions.
    Vous avez aussi accès aux <a target="_blank" href="https://halite.io/rules_game.php">règles complètes</a> et au <a target="_blank" href="https://halite.io/basics_improve_random.php">guide d'amélioration de l'IA initiale</a>.
  </p>
  
  <h4>Comment le code de sera-t-il évalué?</h4>
  <p>Le code de votre intelligence artificielle sera exécuté sur le serveur de compétition lors des parties officielles, donc tout le monde est sur le même pied d'égalité.</p>
  
  <h4>Quel sera le déroulement de la journée?</h4>
  <p>Tout au long de la journée, vous pourrez développer votre IA et le tester dans des parties de pratique. À certains moments de la journée, nous créerons des parties officielles à travers plusieurs <em>rounds</em>. Ces parties officielles mettront votre IA à l'épreuve contre les bots des autres participants. Pour chaque partie officielle dans laquelle vous participerez, vous aurez l’opportunité de récolter des points. À la fin de la journée, nous cumulerons ces points et couronnerons l'équipe qui aura remporté le plus de points.</p>
  
  <h4>Langages acceptés</h4>
  <p>Les langages permis pour développer votre IA sont les suivants :</p>
  <ul>
    <li>Python 3</li>
    <li>JavaScript via Node 8</li>
    <li>C# via MSBuild*</li>
    <li>C++</li>
  </ul>
  <strong><p>Pour télécharger les <em>starter packages</em>, référez-vous au <a href="/guide">guide de départ</a>.</p></strong>
  <p>
    * Pour développer en C#, vous aurez besoin d'avoir MSBuild dans votre variable d'environnement PATH.
    MSBuild est installé avec Visual Studio et se situe au chemin suivant : <pre><code>C:\Program Files (x86)\MSBuild\14.0\Bin</code></pre>
  </p>
  
  <h4>Est-ce que je peux tester mon IA avant de participer aux parties officielles?</h4>
  <p>Oui. Vous pouvez tester votre IA dans des matchs de pratique (type Entraînement), soit contre les bots du serveur, soit contre les bots des autres participants. Référez-vous à votre <a href="/dashboard">Dashboard</a> pour démarrer une partie d'entraînement.</p>
  
  <h4>Y aura-t-il des prix de participation?</h4>
  <p>Nous ferons tirer des prix de participation à la fin de la journée (peut-être au courant de la journée), dont certains gracieusement offerts par notre commanditaire <a href="http://beenox.com/">Beenox</a>.</p>

  <p>
  <img style="width:100%;" src="https://68.media.tumblr.com/8c811ed7a14c6ee7878624a8dc0bfbec/tumblr_orvni34KDJ1r7sijxo1_500.gif">
  </p>

  <h4>Quel est le prix pour les gagnants?</h4>
  <p>Bien sûr, les gagnants du défi mériteront chacun un Raspberry Pi Zero W.</p>
  <p>
  <img style="width:100%;" src="http://i.imgur.com/wy3LvZx.gif">
  </p>  

  <h4>Qu'arrive-t-il si je suis seul?</h4>
  <p>Si vous souhaitez être en équipe, venez nous voir : nous allons essayer de former des équipes de deux avec les participants en solo. Si toutefois vous préférez participer seul, il n’y a aucun problème!</p>
  
  <h4>Combien d'équipes y a-t-il?</h4>
  <p>Vous êtes plus de 12 équipes à vous êtes inscrits au Défi IA JDIS 2017.</p>
  
  <h4>Puis-je participer même si je n’étudie pas à l’Université de Sherbrooke?</h4>
  <p>Oui. Assurez-vous simplement d’être en équipe avec un étudiant de l’Université de Sherbrooke afin de faciliter les accès au matériel informatique et au réseau local.</p>
  
  <h4>Ça finit à quelle heure?</h4>
  <p>La compétition aura lieu de 9h à 17h30. Par la suite, nous allons sûrement aller prendre une bière au <a href="https://www.google.ca/maps/dir/45.3782114,-71.9263246/Le+Refuge+des+Brasseurs,+2155+Rue+Galt+O,+Sherbrooke,+QC+J1K+1K3/@45.3827251,-71.9356748,2185m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x4cb7b35aad6282b5:0x81d2caaf96535d2f!2m2!1d-71.9260007!2d45.3872378!3e2?hl=fr" target="_blank">Refuge des Brasseurs</a>, question de décompresser un peu de la journée. 🍻</p>
  
  <h4>Est-ce que le dîner est fourni?</h4>
  <p>Oui! Nous allons fournir de la pizza pour dîner.</p>

  <p>
  <img style="width:400px;" src="https://68.media.tumblr.com/4b36c2c983b53351ca2ef5b21a40fff4/tumblr_oahjd9HxiZ1txeruoo1_500.gif">
  </p>
  
  <h4>Est-ce que l'événement est gratuit?</h4>
  <p>Oui, l’événement est gratuit pour tous les participants, incluant le dîner.</p>
    
  <h4>Est-ce que je peux copier une intelligence artificielle déjà existante?</h4>
  
  <p><img style="width:400px;" src="https://media.giphy.com/media/xtc15Nu4ODSQE/giphy.gif"></p>

  <p><b>Non</b>, faites preuve de gros bon sens. Nous vous demandons de ne pas copier les intelligences artificielles déjà existantes pour ce jeu. Si nous trouvons qu'une équipe semble réussir un peu trop bien, nous évaluerons le code pour vérifier qu’il est authentique et non copié depuis Internet. Toute équipe prise à plagier sera disqualifiée automatiquement.</p>

</div>

{{> end }}
