{{> start }}

<div style="max-width:50em">
  <h1><b>C'est fini!</b></h1>
  <h4>
    La ronde finale commencera sous peu.<br>Les parties seront affichées à l'avant, sur les projecteurs.
  </h4>
  <img style="width:100%;" src="https://media.giphy.com/media/l0ErLeqamV3UOARsA/giphy.gif">
</div>

{{> end }}