{{> start }}

<div style="max-width:50em">

  <h1>Guide de départ</h1>
  <h2>1. Télécharger un <em>starter package</em></h2>
  <p>
    Selon le langage de programmation que vous souhaitez utiliser pour développer votre intelligence artificielle,
    téléchargez le bon <em>starter package</em> parmi ceux disponibles ci-dessous. Pour les nouveaux, on vous suggère fortement Python.
  </p>
  <div class="row">
    <div class="three columns">
      <a style="color:white;" href="/public/bots/python-starter-package.zip">
        <div style="font-size:0.8em; display:block; background-color:#1A425E; border-color:#1A425E; color:white;" class="button">Python 3</div>
      </a>
    </div>
    <div class="three columns">
      <a style="color:white;" href="/public/bots/csharp-starter-package.zip">
        <div style="font-size:0.8em; display:block; background-color:#690081; border-color:#690081; color:white;" class="button">C#</div>
      </a>
    </div>
    <div class="three columns">
      <a style="color:black;" href="/public/bots/javascript-starter-package.zip">
        <div style="font-size:0.8em; display:block; background-color:#F7DF1E; border-color:#F7DF1E; color:black;" class="button">JS (Node 8)</div>
      </a>
    </div>
    <div class="three columns">
      <a style="color:white;" href="/public/bots/cpp-starter-package.zip">
        <div style="font-size:0.8em; display:block; background-color:#5C8DBC; border-color:#5C8DBC; color:white;" class="button">C++</div>
      </a>
    </div>
  </div>

  <br>
  <p>Chacun des <em>starter packages</em> comprend les fichiers et dossiers suivants :</p>
  <table>
    <tr>
      <th>Fichier/Dossier</th>
      <th>Description</th>
    <tr>
      <td>
        MyBot
      </td>
      <td>Le dossier que vous modifierez pour développer votre IA. Contient initialement le code d'une IA aléatoire (<em>RandomBot</em>).</td>
    </tr>
    <tr>
      <td>
        RandomBot
      </td>
      <td>Dossier qui contient un <em>bot</em> aléatoire que vous pouvez affronter pour tester votre propre IA.</td>
    </tr>
    <tr>
      <td>runGame.bat</td>
      <td>Script qui permet de lancer une partie sur Windows.</td>
    </tr>
    <tr>
      <td>runGame.sh</td>
      <td>Script qui permet de lancer une partie sur Linux.</td>
    </tr>
    <tr>
      <td>runGameMac.sh</td>
      <td>Script qui permet de lancer une partie sur macOS.</td>
    </tr>
    <tr>
      <td>Halite</td>
      <td>Dossier qui contient l’environnement de jeu Halite.io pour Windows/Linux/macOS</td>
    </tr>
  </table>

  <h2>2. Tester votre IA localement</h2>
  <p>
    Pour simuler une partie localement, exécutez tout simplement le fichier <code>./runGame.sh</code> (Linux et macOS) ou <code>runGame.bat</code> (Windows)
    pour exécuter une partie entre votre IA (<em>MyBot</em>) et <em>RandomBot</em> sur une carte de dimension 30x30.
    Une fois la partie simulée, un fichier avec une extension <code>.hlt</code> sera généré : ce fichier contient les détails de la partie que vous venez de simuler. Vous pouvez ensuite utiliser ce fichier pour voir la partie graphiquement à l'aide du <a href="/visualizer">visualiseur</a>.
  </p>

  <h2>3. Améliorer votre IA</h2>
  <p>
    Maintenant que vous savez ce que font les fichiers et comment lancer une partie localement, vous êtes maintenant prêt à créer votre propre intelligence artificielle.
    Servez-vous du <a target="_blank" href="https://halite.io/basics_intro_halite.php">manuel de référence de la plateforme Halite</a> pour plus d'informations, et n'hésitez pas à poser des questions.
    Vous avez aussi accès aux <a target="_blank" href="https://halite.io/rules_game.php">règles complètes</a> et le <a target="_blank" href="https://halite.io/basics_improve_random.php">guide d'amélioration du IA initial</a>. Bonne chance!
  </p>

  <h2>4. Téléverser votre IA</h2>
  <p>
    Via votre <a target="_blank" href="/dashboard">Dashboard</a>, vous pouvez téléverser une archive votre IA. Le fichier téléversé doit avoir une extension <code>.zip</code> et contenir <b>seulement</b> le dossier MyBot fourni dans le <em>starter package</em>.
  </p>

  <h2>5. Gagner le défi</h2>
  <p>
    Notez que le code des gagnants sera analysé afin de s'assurer que le code soit écrit le jour même du défi et qu'il n'y est pas eu de plagiat.
    Pour toute utilisation de librairies externes, venez nous voir pour en discuter (on ne mort pas!) à savoir si vous avez le droit de les utiliser.
    Aucune librairie ne sera installée sur le serveur (pas de <code>pip3 install</code> ni de <code>npm install</code> possible)
  </p>

</div>

{{> end }}
