{{> start }}

<div style="max-width:50em">
  <h1>Bienvenue au Défi IA JDIS 2017!</h1>

  <p>Vous faites partie des quelques <strong>15 équipes</strong> qui s'affronteront aujourd'hui à travers les <strong>intelligences artificielles</strong> que vous développerez entre <strong>deux bouchées de pizza</strong>. Quelques points pour commencer :</p>
  <ul>
    <li>On est très contents de vous voir ici (oui, même si vous êtes juste ici pour la pizza gratuite!);</li>
    <li>Le but du Défi IA, c'est de vous permettre d'en <strong>apprendre</strong> un peu plus sur la programmation d'intelligences artificielles <strong>tout en s'amusant</strong> et en rencontrant d'autres passionnés comme vous;</li>
    <li>N'hésitez pas à poser des questions, et n'ayez pas peur d'avoir l'air stupide : on est ici pour apprendre!</li>
  </ul>

  <p>Bien entendu, comme pour tout événement du genre, on vous demande de faire preuve de <strong>gros bon sens</strong> : le non-respect d'une des règles suivantes peut mener à la disqualification de votre équipe.</p>
  <ul>
    <li>Respectez vos pairs</li>
    <li>Ne plagiez pas</li>
    <li>N'attaquez pas l'infrastructure de compétition</li>
  </ul>
  <p></p>

  <p>On est maintenant prêts à <strong>préparer votre environnement de développement</strong>.</p>

  <h4>→ Pour commencer, suivez ce <a href="/guide">petit guide</a>.</h4>
</div>

{{> end }}
