{{> start }}

<h1>Connexion</h1>
<form action="/team/session" method="post">
  <label>
    Nom d'équipe
    <br>
    <input type="text" name="name">
  </label>
  <label>
    Mot de passe
    <br>
    <input type="password" name="password">
  </label>
  <input type="submit" value="Connexion">
</form>

{{> end }}
