<h1>Connexion</h1>
<form action="" method="post">
  <label>
    Nom d'équipe
    <input type="text" id="team_name">
  </label>
  <label>
    Mot de passe
    <input type="password" id="password">
  </label>
  <input type="submit" value="Connexion">
  /<a href="/register">Inscription</a>
</form>
