<h1>Inscripion</h1>
<form>
  <label>
    Nom d'équipe
    <input type="text" id="team_name">
  </label>
  <label>
    Nom des membres
    <input type="text" id="members">
  </label>
  <label>
    Mot de passe
    <input type="password" id="password">
  </label>
</form>
