{{> start }}

<h1>Inscripion</h1>
<form action="/team" method="post">
  <label>
    Nom d'équipe
    <input type="text" name="name">
  </label>
  <label>
    Nom des membres
    <input type="text" name="members">
  </label>
  <label>
    Mot de passe
    <input type="password" name="password">
  </label>
  <input type="submit" value="Inscription!">
  /<a href="/login">Connexion</a>
</form>

{{> end }}
