<!DOCTYPE html>
<html>
  <head>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
