<!DOCTYPE html>
<html>
  <head>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/assets/styles.css"/>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="box">
      <div class="left">
        <div class="nav">
          <img class="nav__logo" src="/public/assets/logo-color-alpha.svg"/>
          <a href="/dashboard">Dashboard</a>
          <a href="/visualizer">Visualiseur</a>
          <hr>
          <a href="/game">Leaderboard</a>
          <a href="/">Règles</a>
          <a href="/">FAQ</a>
          <hr>
          {{#if session}}
            <a href="/team/disconnect">Déconnexion</a>
          {{else}}
            <a href="/register">Inscription</a>
            <a href="/login">Connexion</a>
          {{/if}}
        </div>
      </div>
      <div class="right">
